/* Datei: format.css */
h1 {
  color: blue;
}

body {
  color: #000000;
  background-color: #F7BE81;
  font-family: sans-serif;
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 	sans-serif;
  font-style: 	normal;
	margin-top: 0pt;
  margin-bottom: 0pt;
}

#galerie {
  list-style-type: none;
  }

ol {
  list-style-type: decimal;
}

.text{
  line-height: 150%;
  /*padding:0 75px 0 75px;*/
  margin:40px 40px 0 20px;

}
#gesamt {
   width:1250px;
   margin: 0 auto;
   min-height: 800px;
   background-color: white;
 }
#head {
  background-color:#424242;
  height: 120px;
  width: 100%;
}
#text-startseite{
  float: left;
  width: 500px;
}
#pics {
   margin: 40px 0 0 540px;
}
