/* Datei: format.css */
h1 {
  color: blue;
  text-align: center;
}
h2 {
  font-size: 20px;
}
body {
  color: #000000;
  /*background-color:#FAAC58; */
  background-image: url("grafiken/background.jpg");
  font-family: sans-serif;
  text-align: left;
  margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 	sans-serif;
  font-style: 	normal;
  margin-top: 20px;
  margin-bottom: 0pt;
  text-align: center;
}


ul.impressum_ul {
  list-style-type: none;
  padding: 0;
  }

ol {
  list-style-type: decimal;
}

.text{
  line-height: 150%;
  margin:40px 40px 0 20px;
}
#gesamt {
   width:1250px;
   margin: 0 auto;
   min-height: 800px;
   background-color: white;
 }
#head {
  background-color:#424242;
  height: 120px;
  width: 100%;
  margin-top: 0;
}
#text-links{
  float: left;
  width: 500px;
}
#pics-rechts {
   margin: 40px 0 0 540px;
}
#head img {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}
#head ul{
  list-style-type: none;
  margin-left: 720px;
  margin-top: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
#head li {
  float: left;
}
#head li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#head li a:hover {
  background-color: #111;
}
#zentrierter-text{
  text-align: center;
}
#text-rechts{
  style:right;
  margin-left: 500px
}
#pics-links{
  float: right;

}
#text-impressum{
   text-align: center;
	}
#zentrierter-text{
  text-align: center;
}
#tabelle-autos{

}
#tabelle-aktionen table{
  border-collapse: collapse;

}
