/* Datei: format.css */
h1 {
  color: blue;
}

body {
  color: #000000;
  background-color: #F7BE81;
  font-family: sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 	sans-serif;
  font-style: 	normal;
	margin-top: 0pt;
  margin-bottom: 0pt;
}

p {
  text-align: left;

}
ul.a {
  list-style-type: none;
  }

ul.b {
  list-style-type:none;
}

ul.c {
  list-style-type: square;
}

ul.d {
  list-style-type: circle;
}

ol {
  list-style-type: decimal;
}
